
/* PRIMERA PARTE */

*{  /* En esta primera parte con margin 0 y un padding de 0 integro las cajas para que no me queden espacios entre ellas */
    margin: 0;
    padding: 0;
    border: 0px;
    vertical-align: baseline;
    font-size: 100%;
} 


body{ /*tengo que revisar la implementacion de las fuentes*/
font-family: 'futura';
src: url ('../font/FuturaStd-light.otf');
background-color: gainsboro;
}

section.topheader { /*identifico como topheader al cabezal de color negro donde se encuentra la barra de idiomas*/
    display:flex;
    justify-content:flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    height: 30px;
    top:0%;
    position: relative;
    box-sizing: border-box;
}

section.cabezal { /*identifico como cabezal a la seccion donde esta el logotipo y la barra del navegador */
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 63px;
    position: relative;
    box-sizing: border-box;
}

p.tipo{ /* tipo es la parte tipo del logo en este caso es el PETSHOP */
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    left: 50px;
    position: relative;
    box-sizing: border-box;
}


nav.navegador{ /*Navegador contiene las categorias */

    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    right: 50px;
    position: relative;
    box-sizing: border-box;
}

li.nav { /*nav es cada categoria del navegador*/
margin-right: 10px;
padding: 23px 20px;
text-decoration: none;
color: blanchedalmond;

}

li.nav:hover { /* esta es una opci[on que encontr[e en youtube para darle un efecto cada item del navegador*/
    background: orangered;
}

.bannerPrincipal{ /*cargue la imagen desde el css ver este tema con Nora*/
    display: flex;
    height: 600px !important;
    background: url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}

.placer{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 365px;
    height: 50px;
    color: black;
    border-radius: 5px;   
    font-weight:400px;
    font-size: 30px;
    left: 1400px;
    top: 240px;
    border: solid 0.5px white;
    background-color: whitesmoke;
    position: relative;
    box-sizing: border-box;
}

.comedero{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 365px;
    height: 50px;
    color: black;   
    font-weight:400px;
    font-size: 20px;
    left: 1030px;
    top: 300px;
    position: relative;
    box-sizing: border-box;
}

.comederos{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 5px;   
    font-weight:400px;
    font-size: 30px;
    left: 750px;
    top: 360px;
    background-color: orange;
    position: relative;
    box-sizing: border-box;
}