
/* PRIMERA PARTE HEADER Y BANNER PRINCIPAL */

*{  /* En esta primera parte con margin 0 y un padding de 0 integro las cajas para que no me queden espacios entre ellas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
background-color: gainsboro;
@font-face { /*tengo que revisar la implementacion de las fuentes porque no me funciona*/
font-family: 'miFutura';
src: url('../font/FuturaStd-Heavy.otf');
}
}


section.topheader { /*identifico como topheader al cabezal de color negro donde se encuentra la barra de idiomas*/
    display:flex;
    justify-content:flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    height: 30px;
    top:0%;
    position: relative;
    box-sizing: border-box;
    heigh
}

h6.bannerOfertas{
    font-weight: lighter;
    margin-right: 50px;
    padding: 23px 20px;
}

span.idiomas{
    display: flex;
    color: white;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    right: -1500px; /* por que en negativo */
    text-transform: uppercase;
    margin-right: 10px;
    padding: 23px 20px;
    position: relative;
    box-sizing: border-box;
}


section.cabezal { /*identifico como cabezal a la seccion donde esta el logotipo y la barra del navegador */
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 63px;
    position: relative;
    box-sizing: border-box;
}

p.tipo{ /* tipo es la parte tipo del logo en este caso es el PETSHOP */
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: bold;
    left: 50px;
    position: relative;
    box-sizing: border-box;
}


nav.navegador{ /*Navegador contiene las categorias */

    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    right: 50px;
    position: relative;
    box-sizing: border-box;
}

li.nav { /*nav es cada categoria del navegador*/
margin-right: 10px;
padding: 23px 20px;
text-decoration: none;
color: blanchedalmond;

}

li.nav:hover { /* esta es una opci[on que encontr[e en youtube para darle un efecto cada item del navegador*/
    background: orangered;
}

.bannerPrincipal{ /*cargue la imagen desde el css ver este tema con Nora*/
    display: flex;
    height: 600px !important;
    background: url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;

}

.placer{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 365px;
    height: 50px;
    color: black;
    border-radius: 5px;   
    font-weight:400px;
    font-size: 30px;
    left: 1400px;
    top: 240px;
    border: solid 0.5px white;
    background-color: whitesmoke;
    position: relative;
    box-sizing: border-box;
}

.comedero{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 365px;
    height: 50px;
    color: black;   
    font-weight:lighter;
    font-size: 20px;
    left: 1030px;
    top: 300px;
    position: relative;
    box-sizing: border-box;
}

.comederos{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;   
    font-weight:bolder;
    font-size: 30px;
    left: 740px;
    top: 360px;
    background-color: orange;
    position: relative;
    box-sizing: border-box;
}

/* SEGUNDA PARTE CAJAS CONTENEDORAS */

section.subBanner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px ;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

}

article.nameSubBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    
}

span.productosDestacados{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C2313;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
}

article.patita{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;

}

section.carrito-compras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px ;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;

}


article.churrasquito{
    display: flex;
    align-self: center;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    position: relative;
    box-sizing: border-box;
}

article.elcomedero{
    display: flex;
    align-self: center;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    position: relative;
    box-sizing: border-box;
    
}

article.huesito{
    display: flex;
    align-self: center;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    position: relative;
    box-sizing: border-box;

}
